### ANN Regression Practical Implementation

In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
import pickle

In [8]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

Estimated salary will be our output feature, and remaining will be independent features.<br>
Since estimated salary is continuous, this is a regression problem.

In [9]:
#Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [ ]:
data.head()  #those columns have been dropped

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [11]:
#Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [12]:
#One hot encode geography
one_hot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = one_hot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=one_hot_encoder_geo.get_feature_names_out(['Geography']))

In [13]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [14]:
#Combine One Hot encoded columns with data and dropping geography
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)

In [15]:
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [16]:
#Split data into features and target
X = data.drop('EstimatedSalary', axis=1)
Y = data['EstimatedSalary']

In [17]:
#Split the data in train and test sets
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size= 0.2, random_state= 42)

In [18]:
#SCale the features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [19]:
#Save the scalers and encoders for later use using pickle
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)
    
with open('one_hot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(one_hot_encoder_geo, file)
    
with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

#### ANN Regression Problem Statement

In [20]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [21]:
#Building the model
model = Sequential([
    Dense(64, activation='relu', input_shape = (X_train.shape[1],)), #Hidden layer 1, input layer connected to it, it refers to the shape(no. of columns of row 1)
    Dense(32, activation='relu'), #Hidden layer 2   
    Dense(1) #Output layer for regression
    #When we dont apply any activation function, it means linear activation function, which is default for Regression
])

#Compile the model
model.compile(optimizer = 'adam', loss= 'mean_absolute_error', metrics = ['mae'])

model.summary()

c:\Users\rohan\GenAIUdemy\NLP\ANN_Project\env\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [22]:
#logs
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

#Set up Tensorboard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d - %H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq = 1)

In [23]:
#Set up EarlyStopping based on validation loss
early_stop_callback = EarlyStopping(monitor= 'val_loss', patience = 10, restore_best_weights= True) #we will wait for 10 epochs minimum

In [25]:
#Train the model
history = model.fit(
    X_train, Y_train,
    validation_data = (X_test, Y_test),
    epochs = 100,
    callbacks = [early_stop_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 7ms/step - loss: 100175.8516 - mae: 100175.8516 - val_loss: 98488.2578 - val_mae: 98488.2578
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 99482.9688 - mae: 99482.9688 - val_loss: 96843.4062 - val_mae: 96843.4062
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 97022.9297 - mae: 97022.9297 - val_loss: 92686.3516 - val_mae: 92686.3516
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 92387.2188 - mae: 92387.2188 - val_loss: 85824.8984 - val_mae: 85824.8984
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 84330.0078 - mae: 84330.0078 - val_loss: 76994.8594 - val_mae: 76994.8594
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 76278.6641 - mae: 76278.6641 - val_loss: 67810.5547 - val_mae: 67810.5547
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 67834.3203 - mae: 67834.3203 - val_loss: 60099.9492 - val_mae: 60099.9492
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 59564.5625 - mae: 59564.5625 - val_loss: 54828.8867 - val_mae: 54828.8867
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 54743.5117 - mae: 54743.5117 - val_loss: 51943.1562 - val_mae: 51943.1562
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 51565.6484 - mae: 51565.6484 - val_loss: 50870.5586 - val_mae: 50870.5586
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50716.6484 - mae: 50716.6484 - val_loss: 50552.7852 - val_mae: 50552.7852
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50557.5273 - mae: 50557.5273 - val_loss: 50458.0391 - val_mae: 50458.0391
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50341.3125 - mae: 50341.3125 - val_loss: 50420.0117 - val_mae: 50420.0117
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50362.4492 - mae: 50362.4492 - val_loss: 50409.7305 - val_mae: 50409.7305
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50237.4688 - mae: 50237.4688 - val_loss: 50403.8750 - val_mae: 50403.8750
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49981.8320 - mae: 49981.8320 - val_loss: 50391.8984 - val_mae: 50391.8984
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49982.5430 - mae: 49982.5430 - val_loss: 50372.0469 - val_mae: 50372.0469
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49713.5703 - mae: 49713.5703 - val_loss: 50368.6875 - val_mae: 50368.6875
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50647.3867 - mae: 50647.3867 - val_loss: 50361.4805 - val_mae: 50361.4805
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49750.7812 - mae: 49750.7812 - val_loss: 50354.8750 - val_mae: 50354.8750
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49245.7578 - mae: 49245.7578 - val_loss: 50344.6328 - val_mae: 50344.6328
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49799.4297 - mae: 49799.4297 - val_loss: 50336.7930 - val_mae: 50336.7930
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49649.3867 - mae: 49649.3867 - val_loss: 50328.5703 - val_mae: 50328.5703
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49869.0742 - mae: 49869.0742 - val_loss: 50319.1289 - val_mae: 50319.1289
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49496.4297 - mae: 49496.4297 - val_loss: 50321.2188 - val_mae: 50321.2188
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49788.2578 - mae: 49788.2578 - val_loss: 50313.7227 - val_mae: 50313.7227
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49952.8750 - mae: 49952.8750 - val_loss: 50308.8594 - val_mae: 50308.8594
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49760.5234 - mae: 49760.5234 - val_loss: 50304.9102 - val_mae: 50304.9102
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50151.0703 - mae: 50151.0703 - val_loss: 50301.7266 - val_mae: 50301.7266
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49504.8242 - mae: 49504.8242 - val_loss: 50305.0859 - val_mae: 50305.0859
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 50208.6680 - mae: 50208.6680 - val_loss: 50298.6484 - val_mae: 50298.6484
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49444.6719 - mae: 49444.6719 - val_loss: 50300.8242 - val_mae: 50300.8242
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49682.2070 - mae: 49682.2070 - val_loss: 50293.8906 - val_mae: 50293.8906
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49234.7695 - mae: 49234.7695 - val_loss: 50292.7266 - val_mae: 50292.7266
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49691.6094 - mae: 49691.6094 - val_loss: 50289.7188 - val_mae: 50289.7188
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49333.3320 - mae: 49333.3320 - val_loss: 50286.5664 - val_mae: 50286.5664
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49464.1172 - mae: 49464.1172 - val_loss: 50281.9453 - val_mae: 50281.9453
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49624.7383 - mae: 49624.7383 - val_loss: 50286.5156 - val_mae: 50286.5156
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49576.5352 - mae: 49576.5352 - val_loss: 50291.5312 - val_mae: 50291.5312
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49027.9023 - mae: 49027.9023 - val_loss: 50300.9922 - val_mae: 50300.9922
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49673.0117 - mae: 49673.0117 - val_loss: 50298.7969 - val_mae: 50298.7969
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49235.4180 - mae: 49235.4180 - val_loss: 50293.6133 - val_mae: 50293.6133
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49399.2734 - mae: 49399.2734 - val_loss: 50298.5703 - val_mae: 50298.5703
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49324.1406 - mae: 49324.1406 - val_loss: 50294.1836 - val_mae: 50294.1836
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49378.4258 - mae: 49378.4258 - val_loss: 50301.9688 - val_mae: 50301.9688
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 48837.0938 - mae: 48837.0938 - val_loss: 50314.4922 - val_mae: 50314.4922
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49416.9023 - mae: 49416.9023 - val_loss: 50303.7383 - val_mae: 50303.7383

In [27]:
%load_ext tensorboard

In [30]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 16760), started 0:00:12 ago. (Use '!kill 16760' to kill it.)

In [33]:
#Evaluate model on the test data
test_loss, test_mae = model.evaluate(X_test, Y_test)
print(f"Test MAE = {test_mae:.2f}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51148.7578 - mae: 51148.7578
Test MAE = 50281.95

In [34]:
#Save the model
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.